body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.header {
  width: 100%;
  background-color: white;
  overflow: auto;
}
.header a.logo {
  color: black;
  font-size: 28px;
  overflow: hidden;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.header a {
  float: left;
  padding: 12px;
  color: grey;
  text-decoration: none;
  font-size: 17px;
}
.header span:hover {
  color:hotpink;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
  }
}
