<div class="offer-details">
  <div class="offer-header">
    <div class="background">
      <div class="buttons">
        <a href="#"><mat-icon class="back">arrow_back</mat-icon></a>
        <mat-icon class="share">share</mat-icon>
      </div>
      <div class="offer-header-row">
        <div class="circle-white">
          <div class="company-logo-container">
            <img class="logo2" [src]= "offer.logo" alt="{{ offer.name }}">
          </div>
        </div>
        <div class="offer-essential-info">
          <div class="salary-row">
            <span class="salary2">{{ offer.salary }} {{ offer.salaryMonth }}</span>
          </div>
          <div class="offer-title-row">
            <span>{{ offer.name }}</span>
          </div>
          <div class="offer-address">
            <span>{{ offer.companyAddress }}</span>
          </div>
        </div>
        <div class="apply-button">
          <button mat-button><mat-icon class="email-icon">email</mat-icon>Apply</button>
        </div>
      </div>
    </div>
    <div class="tiles">
      <div class="tile company-name">
        <div class="building-icon">
          <mat-icon>domain</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.companyName }}</span>
        </div>
        <div class="title">
          Company name
        </div>
      </div>
      <div class="tile company-size">
        <div class="people-icon">
          <mat-icon>people</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.companySize }}</span>
        </div>
        <div class="title">
          Company size
        </div>
      </div>
      <div class="tile emp-type">
        <div class="file-icon">
          <mat-icon>insert_drive_file</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.empType }}</span>
        </div>
        <div class="title">
          EMP. type
        </div>
      </div>
      <div class="tile exp-lvl">
        <div class="chart-icon">
          <mat-icon>show_chart</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.level }}</span>
        </div>
        <div class="title">
          EXP. lvl
        </div>
      </div>
      <div class="tile added">
        <div class="time-icon">
          <mat-icon>timelapse</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.age }}</span>
        </div>
        <div class="title">
          Added
        </div>
      </div>
    </div>
  </div>
  <div class="offer-details-content">
    <div class="card-section">
      <div class="card-section-title">
        Tech stack
      </div>
      <div class="card-content skills">
        <div class="skills-container">
          <div class="skill-wrapper">
            <div class="skill">
              <div class="skill-level">
                {{ offer.reqLVL }}
              </div>
              <div class="skill-name">
                {{ offer.requirement }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section-title">
        Description
      </div>
      <div class="card-content description">
        <span>{{ offer.description }}</span>
      </div>
    </div>
    <div class="card-section apply section">
      <div class="card-section-title">
        Apply for the job
      </div>
      <div class="card-content">
        <mat-drawer-container>
          <div class="row input-row">
            <div class="input-field name">
              <mat-icon class="person-name">person_outline</mat-icon>
              <mat-form-field appearance="outline">
                <mat-label>First & last name *</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
            </div>
            <div class="input-field email">
              <mat-icon class="email-letter">email</mat-icon>
              <mat-form-field appearance="outline">
                <mat-label>Email address *</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
            </div>
          </div>
          <div class="row flex">
            <div class="input-field introduction">
              <mat-icon>create</mat-icon>
              <div class="textarea">
                <mat-form-field appearance="outline">
                  <mat-label>Introduce yourself (linkedin/github links)</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <div class="input-field CV">
              <mat-icon>attachment</mat-icon>
              <div class="textarea">
                <mat-form-field appearance="outline">
                  <mat-label>Upload CV (.pdf)</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="processing">
            <mat-checkbox>Processing data in future recruitment <span>more</span></mat-checkbox>
          </div>
          <div class="button-apply">
            <button mat-button>Apply <mat-icon>arrow_right</mat-icon></button>
          </div>
        </mat-drawer-container>
      </div>
    </div>
  </div>
</div>
