.offer-details {
  padding: 0 15px 15px 15px;
}
.offer-details .offer-header {
  height: 235px;
  position: relative;
  margin: 0 0 80px 0;
}
.offer-details .background {
  background-color: #1676ff;
  height: 220px;
  border-radius: 0 0 4px 4px;
  padding: 0;
}
.offer-details .background .fa-arrow-left {
  top: 10px;
  left: 10px;
}
.offer-details .background .fa-share-alt {
  top: 10px;
  right: 10px;
}
.offer-details .background i {
  position: absolute;
  color: #FFF;
  padding: 2px;
  margin: 5px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}
.offer-header .offer-header-row {
  display: flex;
  align-items: center;
  color: #FFF;
}
.offer-header .offer-header-row .circle-white {
  flex-shrink: 0;
  width: 147px;
  height: 147px;
  background-color: rgba(255,255,255,0.3);
  background-clip: padding-box;
  position: relative;
  border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.15);
  top: 10px;
  left: 30px;
}
.offer-header .offer-header-row .company-logo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.offer-header .offer-header-row .company-logo-container .logo2 {
  max-width: 75px;
  max-height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  border: 0;
}
