.offer-details {
  padding: 0 15px 15px 15px;
}
.offer-details .offer-header {
  height: 235px;
  position: relative;
  margin: 0 0 80px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.offer-details .background {
  background-color: #1676ff;
  height: 220px;
  border-radius: 0 0 4px 4px;
  padding: 0;
}
.offer-details .background .back {
  top: 10px;
  left: 10px;
  font-weight: normal;
}
.offer-details .background .share {
  top: 10px;
  right: 10px;
  font-weight: normal;
}
.offer-details .background .buttons .mat-icon {
  position: absolute;
  color: #FFF;
  padding: 2px;
  margin: 5px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}
.offer-header .offer-header-row {
  display: flex;
  align-items: center;
  color: #FFF;
}
.offer-header .offer-header-row .circle-white {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  background-color: rgba(255,255,255,0.3);
  background-clip: padding-box;
  position: relative;
  border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.15);
  top: 20px;
  left: 30px;
}
.offer-header .offer-header-row .company-logo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.offer-header .offer-header-row .company-logo-container .logo2 {
  max-width: 75px;
  max-height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  border: 0;
}
.offer-header .offer-essential-info {
  margin: 0 0 0 55px;
}
.offer-header .offer-essential-info .salary-row {
  font-size: 18px;
  line-height: 24px;
}
.offer-header .offer-essential-info .offer-title-row {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}
.offer-header .offer-essential-info .offer-address {
  font-size: 18px;
  margin-top: 10px;
}
.offer-header-row .apply-button {
  color: #448AFF;
  margin: 0 15px 0 auto;
  background-color: #fff;
  box-shadow: none;
  padding: 0;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}
.offer-header-row .apply-button .email-icon {
  margin: 0 5px 0 0;
  font-size: 20px;
}
.offer-header .tiles {
  position: absolute;
  padding: 0 20px;
  transform: translateY(50%);
  z-index: 10;
}
.offer-header .tiles .tile {
  max-width: calc(20% - 5px);
  margin: 0 0 0 10px;
  flex: 1;
}
.tiles {
  display: flex;
  justify-content: unset;
  width: 95%;
  left: 0;
  bottom: 0;
}
.tiles .tile {
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 1px 5px 0 rgba(0,0,0,0.06);
}
.tiles .tile .mat-icon {
  color: #FF5252;
  position: absolute;
  left: 50%;
  top: 0;
  background: #fff;
  font-size: 20px;
  padding: 4px 6px;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 1px 5px 0 rgba(0,0,0,0.06);
  transform: translate(-50%, -50%);
}
.tiles .tile .value {
  color: #039be5;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.tiles .tile .title {
  white-space: nowrap;
  color: #99a1ab;
  font-size: 11px;
  margin-top: 10px;
}
.offer-header .tiles .tile.company-size .people-icon mat-icon {
  color: #fb8c00;
}
.offer-header .tiles .tile.emp-type .file-icon mat-icon {
  color: #ab47bc;
}
.offer-header .tiles .tile.exp-lvl .chart-icon mat-icon {
  color: #66BB6A;
}
.offer-header .tiles .tile.added .time-icon mat-icon {
  color: #448AFF;
}
.card-section {
  background-color: #FFF;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 18px 10px rgba(225,232,240,0.7);
  overflow: hidden;
  margin-top: 40px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #37474f;
}
.card-section .card-section-title {
  background-color: #fff;
  padding: 12px 20px;
  border-bottom: 2px solid #f3f6f8;
  font-weight: 600;
  font-size: 18px;
  position: static;
}
.card-section .card-content {
  position: relative;
  padding: 20px 10px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -20px 0;
}
.skills-container .skill-wrapper {
  flex: 1 0 20%;
  max-width: 20%;
  margin: 0 0 20px 0;
  display: flex;
  padding: 0 5px;
  justify-content: center;
}
.skills-container .skill-wrapper .skill {
  position: relative;
}

