<div class="offer-details">
  <div class="offer-header">
    <div class="background">
      <i class="fas fa-arrow-left"></i>
      <i class="fas fa-share-alt"></i>
      <div class="offer-header-row">
        <div class="circle-white">
          <div class="company-logo-container">
            <img class="logo2" [src]= "offer.logo" alt="{{ offer.name }}">
          </div>
        </div>
        <div class="offer-essential-info">
          <div class="salary-row">
            <span class="salary2">{{ offer.salary }} {{ offer.salaryMonth }}</span>
          </div>
          <div class="offer-title-row">
            <span>{{ offer.name }}</span>
          </div>
          <div class="offer-address">
            <span>{{ offer.companyAddress }}</span>
          </div>
        </div>
        <div class="apply-button">
          <button mat-button><mat-icon>email</mat-icon>Apply</button>
        </div>
      </div>
    </div>
    <div class="tiles">
      <div class="tile company-name">
        <div class="building-icon">
          <mat-icon>domain</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.companyName }}</span>
        </div>
        <div class="title">
          Company name
        </div>
      </div>
      <div class="tile company-size">
        <div class="people-icon">
          <mat-icon>people</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.companySize }}</span>
        </div>
        <div class="title">
          Company size
        </div>
      </div>
      <div class="tile emp-type">
        <div class="file-icon">
          <mat-icon>insert_drive_file</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.empType }}</span>
        </div>
        <div class="title">
          EMP. type
        </div>
      </div>
      <div class="tile exp-lvl">
        <div class="chart-icon">
          <mat-icon>show_chart</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.level }}</span>
        </div>
        <div class="title">
          EXP. lvl
        </div>
      </div>
      <div class="tile added">
        <div class="time-icon">
          <mat-icon>timelapse</mat-icon>
        </div>
        <div class="value">
          <span>{{ offer.age }}</span>
        </div>
        <div class="title">
          Added
        </div>
      </div>
    </div>
  </div>
</div>
