<div class="offer-details">
  <div class="offer-header">
    <div class="background">
      <i class="fas fa-arrow-left"></i>
      <i class="fas fa-share-alt"></i>
      <div class="offer-header-row">
        <div class="circle-white">
          <div class="company-logo-container">
            <img class="logo2" [src]= "offer.logo" alt="{{ offer.name }}">
          </div>
        </div>
        <div class="offer-essential-info">
          <div class="salary-row">
            <span class="salary2">{{ offer.salary }} {{ offer.salaryMonth }}</span>
          </div>
          <div class="offer-title-row">
            <span>{{ offer.name }}</span>
          </div>
          <div class="offer-address">
            <span>{{ offer.companyAddress }}</span>
          </div>
        </div>
        <div class="apply-button">
          <button mat-button><mat-icon>email</mat-icon>Apply</button>
        </div>
      </div>
    </div>
    <div class="tiles">

    </div>
  </div>
</div>
