<div class="brand-items" *ngFor="let offer of offers  let i = index">
  <a class="company-tile" [routerLink]="[i]">
    <div class="background-image">
      <img class="picture" [src]= "offer.picture" alt="{{ offer.companyName }}">
    </div>
    <div class="company-info">
      <div class="basic-info">
        <div class="name">
          {{ offer.companyName }}
        </div>
        <div class="type">
          <mat-icon>home</mat-icon><span> Software house</span>
        </div>
      </div>
      <div class="logo-company">
        <img class="picture" [src]= "offer.logo" alt="{{ offer.companyName }}">
      </div>
    </div>
  </a>
</div>
