.filters {
  background-color: #f3f6f8;
  padding: 0 40px 0 18px;
  height: 126px;
  display: flex;
  align-items: center;
}

/*
class jobOffer

String city;
List<Enum> technologies;
Float salary;
String/Enum position;
Employer employer;

 */
