<div class="offers" *ngFor="let offer of offers">
  <div class="offer-item">
    <div class="item">
      <div class="company-logo">
        <img class="logo" [src]= "offer.logo" alt="{{ offer.name }}">
      </div>
      <div class="item-row">
        <div class="first-line">
          <span>{{ offer.name }}</span>
          <div class="right-side">
            <span class="salary">{{ offer.salary }}</span>
            <span class="age">{{ offer.age }}</span>
          </div>
        </div>
        <div class="second-line">
          <span><i class="far fa-building"></i>  {{ offer.companyName }}</span>
          <span class="address"><i class="fas fa-map-marker-alt"></i>  {{ offer.companyAddress }}</span>
          <div class="right-tag">
            <span class="tags">{{ offer.tags }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
