<div class="brand-details" *ngFor="let offer of offers">
  <div class="brands-background" >
    <img class="br-picture" [src]= "offer.picture" alt="{{ offer.companyName }}">
    <a routerLink="/brands"><mat-icon class="back">arrow_back</mat-icon></a>
    <div class="bottom-overlay">
      <div class="description">
        <div class="heading">
          <div class="title">About us</div>
          <div class="social-media">
            <i class="fas fa-globe-africa"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
        <br>
        <div class="company-desc">
          Jesteśmy wyjątkowym software housem z polskim kapitałem działającym od 2009 roku. Kręcą nas zaawansowane tematy związane z reklamą internetową i marketingiem - a sprecyzowana specjalizacja przekłada się na solidny know-how i partnerskie relacje z klientami. Stawiamy na elastyczność (godziny pracy, możliwość pracy zdalnej), swobodę w doborze technologii na poziomie teamów i luz - mamy wyjątkową atmosferę docenianą przez 96% załogi (a oprócz tego fajne integracje i piątkowe Craft Beer Fridays). Czekamy na ludzi pełnych pasji do technologii!
        </div>
      </div>
    </div>
  </div>
</div>
